{% extends "base.html" %}
{% block content %}

<div class="card shadow-sm">
  <div class="card-body">
    <h5 class="card-title mb-3">Add Expense</h5>

    <form method="post" class="row g-3">
      <div class="col-md-4">
        <label class="form-label">Date</label>
        <input type="date" name="date" class="form-control" required>
      </div>

      <div class="col-md-4">
        <label class="form-label">Category</label>
        <input name="category" class="form-control" placeholder="Food, Rent, Transport..." required>
      </div>

      <div class="col-md-4">
        <label class="form-label">Amount</label>
        <input name="amount" class="form-control" placeholder="12.50" required>
      </div>

      <div class="col-12">
        <button class="btn btn-primary">Add</button>
        <a class="btn btn-secondary" href="{{ url_for('index') }}">Back</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}
